source https://api.nuget.org/v3/index.json

storage: none
framework: net5.0
nuget Akka
nuget Akka.Cluster
nuget Akka.Cluster.Tools
nuget Akka.DistributedData
nuget Akka.FSharp
nuget Akka.Serialization.Hyperion
nuget MathNet.Numerics.FSharp
nuget MongoDB.Bson
nuget MongoDB.Driver
nuget MongoDB.FSharp
nuget NSec.Cryptography
nuget WebSharper
nuget WebSharper.FSharp
nuget WebSharper.MaterialUI
nuget WebSharper.Templates
nuget WebSharper.UI
nuget WebSharper.AspNetCore
nuget WebSharper.AspNetCore.WebSocket
